*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/  #ide 相关
*.apk  #optional
app/libs/
app/src/main/res/drawable/
#screenshots/
